In [2]:
import pandas as pd
import numpy as np

In [2]:
BicycleInfo_df = pd.read_csv('Bicycle_Info.txt', delimiter='\t')
#BicycleInfo_df['Rental_Rate'] = BicycleInfo_df['Rental_Rate'].split(';')
BicycleInfo_df.head()

,Bicycle_Id,Brand,Model,Type,Frame_Size,Rental_Rate,Status,Date_of_Purchase
0,1,Bianchi,FX 3,Road Bike,Small,50/day;300/week,Rented,2024-10-15
1,2,Cannondale,Defy Advanced,BMX,Large,50/day;300/week,Available,2021-06-16
2,3,Bianchi,FX 3,Road Bike,Small,30/day;250/week,Under Maintenance,2024-08-10
3,4,Cannondale,Escape 3,Folding Bike,Medium,30/day;250/week,Available,NaN
4,5,Giant,Escape 3,Road Bike,Large,50/day;300/week,Under Maintenance,2022-05-01

In [9]:
BicycleInfo_df.isnull().sum()

Bicycle_Id          0
Brand               0
Model               0
Type                0
Frame_Size          0
Rental_Rate         0
Status              0
Date_of_Purchase    0
dtype: int64

In [4]:
BicycleInfo_df.Type.unique()

array(['Road Bike', 'BMX', 'Folding Bike', 'Mountain Bike',
       'Electric Bike', 'Hybrid', 'Gravel Bike'], dtype=object)

In [5]:
def FillNullValues(row):
    if row['Type'] in ['Road Bike', 'BMX']:
        return 'Large'
    elif row['Type'] in ['Folding Bike', 'Mountain Bike']:
        return 'Medium'
    else:
        return 'Small'

# Fill null values in Frame_Size based on Type
BicycleInfo_df['Frame_Size'] = BicycleInfo_df.apply(
    lambda row: FillNullValues(row) if pd.isnull(row['Frame_Size']) else row['Frame_Size'], axis=1)

In [6]:
BicycleInfo_df['Date_of_Purchase'] = BicycleInfo_df['Date_of_Purchase'].fillna(pd.Timestamp.now().normalize().date()).astype(str)

In [8]:
BicycleInfo_df['Bicycle_Id'].is_unique

True

In [10]:
BicycleInfo_df.to_csv('Bicycle_Info.txt', sep='\t', index=False, header=True)

In [7]:
BicycleInfo_df.head()

,Bicycle_Id,Brand,Model,Type,Frame_Size,Rental_Rate,Status,Date_of_Purchase
0,1,Bianchi,FX 3,Road Bike,Small,50/day;300/week,Rented,2024-10-15
1,2,Cannondale,Defy Advanced,BMX,Large,50/day;300/week,Available,2021-06-16
2,3,Bianchi,FX 3,Road Bike,Small,30/day;250/week,Under Maintenance,2024-08-10
3,4,Cannondale,Escape 3,Folding Bike,Medium,30/day;250/week,Available,2024-10-16
4,5,Giant,Escape 3,Road Bike,Large,50/day;300/week,Under Maintenance,2022-05-01

In [3]:
RentalHistory_df = pd.read_csv('Rental_History.txt', delimiter  = '\t')
RentalHistory_df.head()

   Bicycle_ID  Member_ID Rental Date Return Date
0          37     1049.0  2023-08-01  2024-04-01
1          23        NaN  2022-04-01  2021-03-02
2           8     1037.0  2022-12-28  2023-12-27
3          14     1009.0  2022-02-11  2024-02-16
4          19     1008.0  2024-08-28  2022-09-26

In [4]:
RentalHistory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bicycle_ID   200 non-null    int64
 1   Member_ID    191 non-null    float64
 2   Rental Date  200 non-null    object
 3   Return Date  200 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.4+ KB

In [5]:
RentalHistory_df.isnull().sum()

Bicycle_ID     0
Member_ID      9
Rental Date    0
Return Date    0
dtype: int64

In [ ]:
RentalHistory_df.Member_Id